$gutter: 30px;
$gutterM: 20px;
$gutterS: 10px;

$white: #FFFFFF;
$violet: #403F4D;
$blue: #6E9BCA;
$gray: #D2D2D2;
$black: #000000;
$red: red;

$color-web-development: #46C9AE;
$color-php-development: #AD76C2;
$color-app-development: #F0877D;
$color-drupal: #40B3E3;

$button-color: #67BFDC;

$form-color: #F5F5F5;
