@import "variables";
.front-page{
  .pagination{
    .page-item {
      margin: 0!important;
      .page-link {
        font-size: 15px;
        padding: 2px 11px;
        color: #646464;
        font-weight: 500;
        &:hover{
          color: $blue;
        }
      }
    }

  }
}

.pagination{
  display: flex;
  justify-content: center;
  margin-top: 50px;
  padding-bottom: $gutterM;
  li {
    padding: 0;
    margin: 0 $gutterS;
  }
  .active{
    background-color: #DDDCDD;
    border-radius: 50%;
  }
  .page-link {
    padding: 3px 17px;
    text-decoration: none;
    color: inherit;
    background: none;
    border: none;
    font: inherit;
    &:hover{
      color: $blue;
    }
  }
}
.page-item[role="presentation"] {
  display: none;
}
.pagination .page-item.active .page-link {
  background-color: transparent;
  border: none;
}

.pagination .page-item .page-link:focus,
.pagination .page-item .page-link:active {
  outline: none;
  box-shadow: none;
}
.block-project-full, .block-clients-full, .block-news-full, .view-our-team, .block-services-full, .search {
  .pagination{
    margin: 30px 0 60px 0;
    padding: 0;
    .page-item {
      font-size: 24px;
    }
  }
}

@media all and (max-width: 991px) {
  .pagination {
    margin: $gutterM 0 !important;
  }
  .block-project-full, .block-clients-full, .block-news-full, .view-our-team, .block-services-full, .search{
    .pagination {
        .page-item {
          margin: 0;
          font-size: 17px!important;
          .page-link {
            padding: 2px 11px!important;
        }
      }

    }
  }
}
