@import "variables";
@import "mixin";

.block-services-full{
  padding: 0!important;
  margin: 0!important;
  .view-header {
    @include title;
    font-weight: 700;
  }

  .row {
    padding-bottom: 20px;
    .views-row{
      padding: 60px $gutterM !important;
    }

  }
}
.block-services {
  padding: 80px 0;
    text-align: center;

    .view-header{
      @include title
    }

    .views-field-field-image-media {
      margin-bottom: $gutter;
      height: 121px;
      display: flex;
      align-items: center;
      justify-content: center;
    }

    .views-field-title {
      line-height: 0.8;
      margin-bottom: $gutterS;

      .field-content {
        @include title_view
      }
    }

    .views-field-body {
      div {
        text-transform: uppercase;
        font-size: 12px;
        color: $gray;
        line-height: normal;
      }

      padding: 5px 0 $gutter 0;
    }

    .views-field-view-node {
      a {
        background-color: $blue;
        @include button;
        &:hover{
          color: $blue;
          background-color: $white;
          border: 3px solid $blue;
        }
      }
    }
  }
@media all and (max-width: 992px) {
  .block-services {
    padding: 0 !important;
    margin: $gutterM 0 !important;
  }
  .block-services-full{
    .row {
      .views-row {
        padding: $gutterM !important;

      }
    }
  }

}

@media all and (max-width: 768px) {
  .block-services {
    .views-field-body {
      div {
        width: 300px;
        margin: 0 auto;
      }
    }
  }
  .block-services-full {
    .row {
      .views-row {
        padding: 0!important;

      }
    }
  }
}
