$gutter: 30px;
$gutterM: 20px;
$gutterS: 10px;

$white: #FFFFFF;
$violet: #373645;
$blue: #6E9BCA;
$gray: #CECECE;

$color-web-development: #46C9AE;
$color-php-development: #AD76C2;
$color-app-dewelopment: #F0877D;
$color-drupal: #40B3E3;

$button-color: #67BFDC;
