@import "variables";
@import "mixin";
.block-block-content2b52381b-4275-49ad-8202-972280bd9d5d{
  margin: 100px 0!important;
  .layout__region--content{
    padding: 15px 0;
    border-bottom: 4px solid $blue;
    border-top: 4px solid $violet;
    display: flex;
    justify-content: space-between;
    .block-field-blockblock-contentbasicinfo{
      margin-right: auto;
      display: inline-block;
      .content{
        display: inline-block;
        .field--name-info{
          @include title_view;
          line-height: 1!important;
          display: inline-block;
        }
      }
    }
    .block-field-blockblock-contentbasicbody{
      display: flex;
      align-items: center;
      .content{
        display: inline-block;
        .field--name-body{
          display: inline-block;
          p{
            line-height: 0.8;
            display: inline-block;
            margin: 0;
            font-size: 22px;
            color: $gray;
          }
        }
      }
    }
    .block-field-blockblock-contentbasicfield-more-detals{
      align-items: center;
      margin-left: auto!important;
      display: flex;
      .content{
        display: inline-block;
        .field--name-field-more-detals{
          display: inline-block;
          a{
            @include button;
            background-color: $blue;
          }
        }
      }
    }
  }
}

@media all and (max-width: 1400px) {
  .block-block-content2b52381b-4275-49ad-8202-972280bd9d5d {
    .layout__region--content {
      flex-direction: column;
      justify-content: center;
      .block-field-blockblock-contentbasicfield-more-detals, .block-field-blockblock-contentbasicbody, .block-field-blockblock-contentbasicinfo{
        margin: 0 auto;
        text-align: center;
      }
      .block-field-blockblock-contentbasicbody{
        margin: $gutterS 0;
      }
    }
  }
}
@media all and (max-width: 768px) {
.block-field-blockblock-contentbasicbody{
  p{
    font-size: 18px!important;
  }
}
}
