footer {
  background-color: #373645!important;
}

.region-footer-first {
  width: 100%!important;
  display: flex;
  justify-content: space-between;
  align-items: center; /* Вирівнює елементи по вертикалі */

  .block-content-logo {
    width: auto;
    height: auto;
    border: none;
    padding: 0 12px;
    margin: 0;
    display: flex;
    text-align: center;
    flex-direction: column;
    justify-content: center;

    h2{
      font: 28px/1.4 "Inter", sans-serif !important;
      margin: 0;
      padding: 0;
      color: #6E9BCA;
      font-weight: 500!important;
    }

    p {
      font: 12px/1.4 "Inter", sans-serif !important;
      margin: 0;
    }
  }

  .block-content-social_media {
    width: 200px;
    border: none;
    margin: 0;
    padding: 0;
    justify-content: right;
    ul {
      margin: 0;
      padding: 0;
      list-style: none;
    }

    li {
      display: inline-block; /* Відображає елементи списку в ряд */
      margin-right: 10px;
      padding: 0!important;

    }

    a {
      text-decoration: none; /* Прибирає підкреслення */
      color: inherit; /* Встановлює колір посилання такий самий, як у батьківського елемента */
    }
  }
}
.social-media-link-icon--twitter {
  display: inline-block;
  width: 30px; /* Ширина зображення */
  height: 30px; /* Висота зображення */
  background: url('../img/social-icons/twit.png') no-repeat center center;
  background-size: cover; /* Масштабування зображення */
}

.social-media-link-icon--instagram {
  display: inline-block;
  width: 30px;
  height: 30px;
  background: url('../img/social-icons/in.png') no-repeat center center;
  background-size: cover;
}

.social-media-link-icon--facebook, {
  display: inline-block;
  width: 30px;
  height: 30px;
  background: url('../img/social-icons/fb.png') no-repeat center center;
  background-size: cover;
}

.social-media-link-icon--twitter span,
.social-media-link-icon--instagram span,
.social-media-link-icon--facebook span {
  display: none;
}
body{
  font: 18px/1.4 "Inter", sans-serif !important;
}
.social-media-links--platforms{
  text-align: right;
}
.social-media-links--platforms li {
  margin: 0 !important;
}

.social-media-links--platforms li + li {
  padding-left: 10px;
}
@media all and (max-width: 388px) {
  .region-footer-first{
    align-items: center;
    .block-content-logo{
      margin: 0 auto!important;
    }
    .block-content-social_media{
      margin: 0 auto;
      .social-media-links--platforms{
        display: flex;
        justify-content: center;
        padding-top: 20px;
      }
    }
  }
}
