#header {
  position: absolute;
  top: 20%;
  left: 0;
  right: 0;
  z-index: 101;
  background: transparent;
}
.navbar{
  background-color: white;
  padding: 0;
}
.site-header{
  display: flex;
  .region-branding{
    padding: 20px 10px;
    text-align: center;
    background-color: #373645;
    h2{
      color: #6D9AC8;
      font-size: 28px;
      padding: 0!important;
    }
    p{
      margin: 0;
      font-size: 12px;
      color: #B1B5BE;
    }
  }
  .menu--main{
    .menu-level-0{
      display: flex;
      margin: 0!important;
      li{
        padding: 0 15px;
        a{
          list-style: none;
          color: #4B4A58;
          text-decoration: none;
          text-transform: uppercase;
        }
      }
    }
  }
  .social-icons{
    padding-top: 6px;
    padding-left: 20px;
    ul{
      margin: 0;
      display: flex;

    }
  }
  .search-form{
    display: flex;
    .form-item-keys{
      margin: 0!important;
      input{
        height: 40px;
        width: 130px;
        border-radius: 0;
      }
    }
    .form-actions{
      border-radius: 0;
      margin: 0!important;
      button{
        border-radius: 0;
      }
    }
  }
  #edit-submit::before {
    content: "\f002";
    font-family: "Font Awesome 5 Free";
    font-weight: 600;
    color: #888;
    font-size: 18px;
    margin-bottom: 5px;
  }

  #edit-submit {
    font-size: 0;
    width: 40px;
    height: 40px;
    padding: 0;
    border: 1px solid #ccc;
    background-color: transparent;
  }
}
@media all and (max-width: 1400px) {
  .navbar-expand-lg{
    .row{
      align-items: center;
    }
  }
}
