@import "variables";
@import "mixin";
.views-element-container{
  h2{
    color: $violet;
    text-align: center;
    padding: 50px 0;
    display: flex;
    align-items: center;
    text-transform: uppercase;
    &:before{
      content: "";
      flex: 1;
      border-bottom: 0.2px solid $gray;
      margin-right: $gutterM;
    }
    &:after{
      content: "";
      flex: 1;
      border-bottom: 0.2px solid $gray;
      margin-left: $gutterM;
    }
  }
  .block-services{
    margin-top: $gutterM!important;
    text-align: center;
    .views-field-field-image-services{
      img{
        padding-bottom: $gutterM;
      }
    }
    .views-field-title{
      margin-bottom: $gutterS;
      .field-content{
        @include title_view
      }
    }
    .views-field-body{
      div{
        text-transform: uppercase;
        font-size: 12px;
        color: $gray;
      }
      padding-bottom: $gutterM;
    }
    .views-field-view-node {
      a {
        background-color: $blue;
        @include button;
      }
    }
  }
  .block-project{
    padding-top: 50px;
    text-align: center;

    .views-field-field-image{
      background-color: $white;
      img{
        width: 100%;
        height: auto;
        padding-bottom: $gutterS;
      }
    }
    .views-field-view-node{
      background-color: $white;
      padding-bottom: $gutterS;
      border-bottom: 1px black solid;
      a{
        @include button;
        background-color: $violet;
      }
    }
    .views-field-title{
      background-color: $white;
      padding-bottom: $gutterS;
      @include title_view
    }
    .category-{
      &Web{
        @include text_category;
        background-color: $white;
        color: $color-web-development;
      }
      &PHP{
        background-color: $white;
        @include text_category;
        color: $color-php-development;
      }
      &App{
        background-color: $white;
        @include text_category;
        color: $color-app-dewelopment;
      }
      background-color: $white;
      &Drupal{
        @include text_category;
        color: $color-drupal;
      }
    }
  }
  .node--type-team-member{
    border-bottom: none;
    header{
      display: none;
    }
    .field--name-field-image{
      width: 100%;
      img{
        width: 100%;
        height: auto;
        margin-bottom: $gutter;
      }
      margin: 0;
    }
    .block-field-blocknodeteam-membertitle{

      text-align: center;
      .field--name-title{
        padding: 0!important;
        @include title_view;
      }
    }
    .block-field-blocknodeteam-memberfield-position{
      text-align: center;
      .field--name-field-position{
        text-transform: uppercase;
        font-size: 12px;
        color: $gray;
        margin-bottom: 5px;
      }
    }

    .node-readmore{
      margin: 0 auto;
      text-align: center;
      a {
        visibility: hidden;
        position: relative;
      }
    }

    .node-readmore a::before {
      content: "Look at me";
      visibility: visible;
      position: absolute;
      top: 0;
      left: 0;
      @include button;
      width: 110px;
      background-color: $violet;
    }

  }

}
.layout--onecol{
  margin-bottom: $gutterM;
}
.layout--twocol-section{
  .social-media-links--platforms{
    li{
      padding: 0 0 0 5px;
    }
  }
  .like--wrapper{
    justify-content: center;
    display: flex;
    .like-form{
      label{
        i{
          padding: 0 5px 5px 0;
        }
        span{
          display: none;
        }
      }
      span{
        display: none;
      }

    }
  }
}
.block-views-blockproject-block-1 {
  position: relative;
  z-index: 1;
}

.block-views-blockproject-block-1::before {
  @include background
}
.view-news {
  .views-exposed-form{
    .form-type-textfield{
      padding: 5px;
      background-color: #F5F5F5;
      input{
        width: 400px;
        border-radius: 5px;
        color: $gray;
      }
    }

    .form-actions{
      padding: 5px 10px 5px 0;
      background-color: #F5F5F5;
      button{
        border-radius: 5px;
        color: $white;
        height: 38px;
        border: 1px solid $button-color;
        background-color: $button-color;
        &:before{
          display: none;
        }
      }
    }

  }
  &:before{
    @include background
  }
  .article-preview {
    background-color: $white;
    display: flex;
    .article-date{
      line-height: 1;
      height: auto;
      text-align: center!important;
      padding: $gutterM;
      .month{
        @include title_view;
        font-weight: 350;
      }
      .day{
        font-size: 48px;
        line-height: 1;
        color: $blue;
        font-weight: bold;
      }
      .year{
        text-transform: uppercase;
        font-size: 16px;
        color: $gray;
      }
    }
    .article-content {
      .article-meta {
        padding: $gutterM 0;
        display: flex;
        .article-image{
          padding: 0 $gutterS 0 $gutterM;
          border-left: 1px solid $gray;
        }
        .article-meta-category{
          width: 100%;
          display: flex;
          justify-content: space-between;
          .time-ago{
            display: flex;
            align-items: flex-start;
            span{
              @include text_category;
              color: $gray;
            }
          }
          .article-author{
            .category{
              display: flex;
              .field--name-field-autor{
                display: flex;
                .field__label{
                  padding-right: 5px;
                  @include text_category;
                  color: $gray;
                }
                .field__item{
                  @include text_category;
                }
              }
              p{
                padding: 2px 3px;
                font-size: 12px;
              }
              .category{
                text-transform: uppercase;
                color: $blue;
                font-size: 13px;
              }
            }
          }
        }
      }
      .article{
        .article-info{
          padding-left: $gutterM;
          border-left: 1px solid $gray;
          .read-more{
            text-align: right;
            a{
              @include button;
              background-color: $violet;
            }
          }
        }
        h2{
          padding: 0 0 $gutterS 0;
          overflow: auto!important;
          line-height: 1;
          color: $violet;
          &:before, &:after{
            display: none;
          }
        }
        p{
          text-align: justify;
          text-transform: uppercase;
          font-size: 13px;
          color: $violet;
        }
      }
    }
  }
}
.body-short {
  display: block;
}

.body-full {
  display: none;
}
@media all and (max-width: 1399px) {
  .article-meta-category{
    flex-direction: column;
  }
  .article{
    .article-title{
      font-size: 24px;
    }
  }
}

@media all and (max-width: 1200px) {
  .views-element-container{
    .views-field-title{
      .field-content{
        font-size: 20px!important;
      }
    }
  }
  .article{
    .article-title{
      text-align: left;
    }
  }
}
@media all and (max-width: 992px) {
  .views-element-container{
    .views-row{
      margin-bottom: $gutterM;
    }
  }
}
@media all and (max-width: 500px) {
  .article-preview{
    flex-direction: column;
    .article-date{
      display: flex;
      justify-content: center;
      align-items: center;
      .day{
        padding: 0 $gutterS;
      }
      .year{
        font-size: 30px !important;
        font-weight: 350 !important;
      }
    }
  }
  .article-meta{
    padding: 0 0 20px 0!important;
  }
}
@media all and (max-width: 400px) {
  .category{
    .field--name-field-autor{
      div{
        font-size: 12px!important;
      }
    }
    p{
      font-size: 10px!important;
    }
    .category{
      a{
        font-size: 12px!important;
      }
    }
  }
  .article{
    .article-title{
      font-size: 20px;
    }
  }
  .time-ago{
    span{
      font-size: 12px!important;
    }
  }
}
